*{
    padding: 0;
    margin: 0;
    box-sizing: border_box;
    font-family: 'Poor Story', cursive;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b59b6;


}
.box {
    width: 600px;
    height: 500px;
    background-color:#34495e ;
    border-radius: 5px;
    padding: 15px;
    

}
#item {
    padding: 10px;
    width: 100%;
    border:0;
    outline: 0;
    font-weight: bold;
    display: block;
    box-shadow: 0px 0px grey ;

    
}
#to-do-box {
    margin-top: 20px;
    list-style-type: none;

}

#to-do-box li{
    position: relative;
    background-color:#ecf0f1;
    color: black;
    padding: 10px;
    border-radius: 2px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
}
#to-do-box li i{
    position: absolute;
    right: 10px;
    top: 10px;

}
.done {
    text-decoration: line-through;
    color: black;
    background-color: #bdc3c7 !important;
}